<html>
  <head>
    <title><%= user %></title>
  </head>
  <body>
    <%- include('header', {title: 'Message'}) %>
    <div>
      <div><%= date %></div>
      <div><%= text %></div>
      <div><%= user %></div>
    </div>
  </body>
</html>
